.image_box{
    height:100%; display:block; background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}