.image_box{
    height:100%; display:block; background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.one-edge-shadow {
    -moz-box-shadow: 1px 11px 6px #000000;
    -webkit-box-shadow: 1px 11px 6px #000000;
    box-shadow: 1px 11px 6px #000000;
    -webkit-appearance: none;
}

.dot {
    height: 2em;
    width: 2em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.v-a-middle{
    vertical-align: middle;
}

.small-title{
    font-size: 2em;    

}

.box-shadow:after {
    content:"";
    position:absolute;
    width:100%;
    bottom:1px;
    z-index:-1;
    transform:scale(.9);
    box-shadow: 0px 0px 8px 2px #000000;
}