
<html>
    <head>
        <title>
                ChengShair's Journal Entries
        </title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">

    </head>
    <body style="background-color:#fafafa;">

        <div>
            <h1 style="display: inline-block;">ChengShair's Journal Entries </h1>
            <form action="/journal/new">
                <button  style="float:right; ">New Post</button>
            </form>
        </div>
        <div>{{.Content}}</div>

    </body>
</html>
